body { padding-top: 70px; }

figure{
    float: right;
}

table.experience, td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#maps {
    width: 100%;
    height: 500px;
}

.center { 
    text-align: center;
}

.myvideo{
    height: 50%;
    width: 70%;
}

#profileInfo{
    font-family: 'Courier New', Courier, monospace;
}